
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HEPSİŞURADA| GİRİŞ</title>
 
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/AdminAssets/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/AdminAssets/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/AdminAssets/dist/css/adminlte.min.css">
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <!-- /.login-logo -->
        <div id="divCard"class="card card-outline card-primary">
            <div class="card-header text-center">
                <a href="../../index2.html" class="h1"><b>HESPİŞURADA</b></a>
            </div>
            <div class="card-body">
                <p class="login-box-msg">Başlamak İçin Giriş Yapın</p>

                <form>
                    <div class="input-group mb-3">
                        <input id="txtEmail" type="email" class="form-control" placeholder="E-Mail">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input id="txtPassword" type="password"  class="form-control" placeholder="Şifre">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input type="checkbox" id="remember">
                                <label for="remember">
                                    Beni Hatırla
                                </label>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <button id="btnLogIn"type="button" class="btn btn-primary btn-block">Giriş</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

                <div class="social-auth-links text-center mt-2 mb-3">
                    <a href="#" class="btn btn-block btn-primary">
                        <i class="fab fa-facebook mr-2"></i>Facebook İle Giriş Yap
                    </a>
                    <a href="#" class="btn btn-block btn-danger">
                        <i class="fab fa-google-plus mr-2"></i>Google+ İle Giriş Yap
                    </a>
                </div>
                <!-- /.social-auth-links -->

                <p class="mb-1">
                    <a href="forgot-password.html">Şifremi Unuttum</a>
                </p>
                <p class="mb-0">
                    <a href="register.html" class="text-center">Henüz üye değilim</a>
                </p>
            </div>
            <div class="card-footer">

          


         
            <!-- /.card-body -->

        </div>
        <!-- /.card -->
    </div>
    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="~/AdminAssets/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/AdminAssets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/AdminAssets/dist/js/adminlte.min.js"></script>

    <script>
        $(document).ready(function () {
            //JSON (JAVASCRIPT OBJECT NOTATION)
            $("#btnLogIn").click(function () {
                var formModel = {
                    Email: $("#txtEmail").val(),
                    Password: $("#txtPassword").val()
                };

                $.ajax({
                    url: "/Admin/Authentication/LogIn",
                    method: "post",
                    dataType: "json",
                    data: { jsonData: formModel },
                    success: function (response) {
                        if (!response.result) {
                            var content =
                                "<div class='alert alert-danger'>" + response.message + "</div>";

                            $(".card-footer").html("");
                            $(".card-footer").html(content);
                        }
                        else
                            window.location.href = "/Admin/Home/Index";
                        
                    }
                });
                
            });

        });
    </script>
</body>
</html>
