@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

}
<!DOCTYPE html>
<html>
<head>


</head>
<body>
    <div class="alert alert-danger">BU SAYFAYI GORMEYE YETKINIZ YOK</div>

<a href="/Admin/Home/Index">ANA SAYFAYA DON </a>
   



</body>


</html>